<a href="https://colab.research.google.com/github/edgarlei/2020-21-Concrete-Canoe/blob/main/Paper_Replication_Code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Set-up

In [ ]:
import pandas as pd

In [ ]:
# Importing CSV file
rep = pd.read_csv('Raw Data Master Sheet.csv')

In [ ]:
# Displaying Contents of CSV file
rep

     Slag (kg)  Fly ash (kg)  ...  Compressive strength, Mpa  Unnamed: 12
0          240            80  ...                       35.5          NaN
1          240            80  ...                       47.7          NaN
2          340            85  ...                       37.0          NaN
3          340            85  ...                       56.0          NaN
4          223            95  ...                       64.3          NaN
..         ...           ...  ...                        ...          ...
238         41           367  ...                       21.1          NaN
239        165           385  ...                       43.3          NaN
240        100           400  ...                       34.9          NaN
241         45           405  ...                       35.9          NaN
242         50           450  ...                       31.3          NaN

[243 rows x 13 columns]

# Equations

In [ ]:
# Na-Silicate Solution
nas_s = rep['Solid % (Na-Silicate) SiO2'] + rep['Solid % (Na-Silicate) Na2O']

# H2O Present in Na-Silicate Solution
h2o_nas = rep['Na-Silicate Activator (kg)'] - (nas_s)

# NaOH Solution
def naoh_solution():
  numer1 = 40 * rep['NaOH Solution Molarity (M)']
  denom1 = 1000 * rep['NaOH Solution Density (g/cm^3)']
  return rep['NaOH Activator (kg)'] * (numer1/denom1)

naoh_s = naoh_solution()

# H2O Present in NaOH Solution
h2o_naoh = rep['NaOH Activator (kg)'] - naoh_s

In [ ]:
# Putting Equations Results into Table
eqns_table = pd.DataFrame({"Na-Silicate Solution": nas_s, "H2O Present in Na-Silicate Solution": h2o_nas, "NaOH Solution": naoh_s, "H2O Present in NaOH Solution": h2o_naoh})
eqns_table

     Na-Silicate Solution  ...  H2O Present in NaOH Solution
0                    44.1  ...                     29.883212
1                    44.1  ...                     29.883212
2                    44.1  ...                    106.540146
3                    44.1  ...                     53.270073
4                    38.3  ...                     42.515152
..                    ...  ...                           ...
238                  36.0  ...                     30.669291
239                  44.1  ...                     63.014599
240                  44.1  ...                     32.481752
241                  43.1  ...                     37.029197
242                  44.1  ...                     32.481752

[243 rows x 4 columns]

# 5 (+1) Key Parameters

In [ ]:
# Fly ash/Slag Ratio
flyash_slag = rep['Fly ash (kg)'] / rep['Slag (kg)']

# Water/Solid Ratio
def water_solid_ratio():
  numer2 = rep['Solid % (Na-Silicate) Added Water (kg)'] + h2o_nas + h2o_naoh
  denom2 = rep['Slag (kg)'] + rep['Fly ash (kg)'] + nas_s + naoh_s
  return numer2/denom2

water_solid = water_solid_ratio()

# Activator/Binder Ratio
def act_bin_ratio():
  numer3 = rep['NaOH Activator (kg)'] + rep['Na-Silicate Activator (kg)']
  denom3 = rep['Slag (kg)'] + rep['Fly ash (kg)']
  return numer3/denom3

act_bin = act_bin_ratio()

# Na-Silicate/NaOH Ratio
nasil_naoh = rep['Na-Silicate Activator (kg)'] / rep['NaOH Activator (kg)']

# NaOH Solution Molarity
naoh_mol = rep['NaOH Solution Molarity (M)']

# Compressive Strength
comp_str = rep['Compressive strength, Mpa']

In [ ]:
# Key Parameters Table
key_pars = pd.DataFrame({"Fly ash/Slag Ratio": flyash_slag, "Water/Solid Ratio": water_solid, "Activator/Binder Ratio": act_bin, "Na-Silicate/NaOH Ratio": nasil_naoh, "NaOH Solution Molarity": naoh_mol, "Compressive Strength": comp_str})
key_pars

     Fly ash/Slag Ratio  ...  Compressive Strength
0              0.333333  ...                  35.5
1              0.333333  ...                  47.7
2              0.250000  ...                  37.0
3              0.250000  ...                  56.0
4              0.426009  ...                  64.3
..                  ...  ...                   ...
238            8.951220  ...                  21.1
239            2.333333  ...                  43.3
240            4.000000  ...                  34.9
241            9.000000  ...                  35.9
242            9.000000  ...                  31.3

[243 rows x 6 columns]

In [ ]:
# Converting Key Parameters Table to Array
key_pars_array = key_pars.to_numpy()

# Statistics of Key Parameters

In [ ]:
import scipy as sp
from scipy.stats import skew, kurtosis

In [ ]:
# Function to Calculate Relevant Statistics
def stats(parameter):
  minval = min(parameter)
  maxval = max(parameter)
  avg = np.mean(parameter)
  stdev = np.std(parameter)
  skew = sp.stats.skew(parameter)
  kurt = sp.stats.kurtosis(parameter)
  return minval, maxval, avg, stdev, skew, kurt

flyash_slag_stats = stats(flyash_slag)
water_solid_stats = stats(water_solid)
act_bin_stats = stats(act_bin)
nasil_naoh_stats = stats(nasil_naoh)
naoh_mol_stats = stats(naoh_mol)
comp_str_stats = stats(comp_str)

In [ ]:
# Statistics Table
key_pars_stats_v1 = pd.DataFrame({"Fly ash/Slag Ratio": flyash_slag_stats, "Water/Solid Ratio": water_solid_stats, "Activator/Binder Ratio": act_bin_stats, "Na-Silicate/NaOH Ratio": nasil_naoh_stats, "NaOH Solution Molarity": naoh_mol_stats, "Compressive Strength": comp_str_stats})
key_pars_stats_v2 = key_pars_stats_v1.transpose()
key_pars_stats_v2.rename(columns={0: "Min", 1: "Max", 2: "Average", 3: "St Dev", 4: "Skewness", 5: "Kurtosis"})

                             Min        Max  ...  Skewness  Kurtosis
Fly ash/Slag Ratio      0.250000   9.000000  ...  1.265866  0.388688
Water/Solid Ratio       0.102238   0.601899  ...  0.505824 -0.310864
Activator/Binder Ratio  0.162500   0.620000  ... -0.235183  1.192058
Na-Silicate/NaOH Ratio  0.000000  12.181818  ...  2.580534  6.583400
NaOH Solution Molarity  4.000000  14.000000  ...  0.083059 -0.473970
Compressive Strength    9.700000  70.400000  ... -0.065184  0.071044

[6 rows x 6 columns]

# Normalization

In [ ]:
# Normalization Function
def normalization(parameter):
  post_norm = []
  for i in parameter:
    min_val = min(parameter)
    max_val = max(parameter)
    norm = (i - min_val) / (max_val - min_val)
    post_norm.append(norm)
  return post_norm

flyash_slag_norm = normalization(flyash_slag)
water_solid_norm = normalization(water_solid)
act_bin_norm = normalization(act_bin)
nasil_naoh_norm = normalization(nasil_naoh)
naoh_mol_norm = normalization(naoh_mol)
comp_str_norm = normalization(comp_str)

In [ ]:
# Normalized Data Table
key_pars_norm = pd.DataFrame({"Fly ash/Slag Ratio": flyash_slag_norm, "Water/Solid Ratio": water_solid_norm, "Activator/Binder Ratio": act_bin_norm, "Na-Silicate/NaOH Ratio": nasil_naoh_norm, "NaOH Solution Molarity": naoh_mol_norm, "Compressive Strength": comp_str_norm})
key_pars_norm

     Fly ash/Slag Ratio  ...  Compressive Strength
0              0.009524  ...              0.425041
1              0.009524  ...              0.626030
2              0.000000  ...              0.449753
3              0.000000  ...              0.762768
4              0.020115  ...              0.899506
..                  ...  ...                   ...
238            0.994425  ...              0.187809
239            0.238095  ...              0.553542
240            0.428571  ...              0.415157
241            1.000000  ...              0.431631
242            1.000000  ...              0.355848

[243 rows x 6 columns]

In [ ]:
# Converting Normalized Data to Array
key_pars_norm_array = key_pars_norm.to_numpy()

# Attempt at Hampel Method
Code is basically verbatim from https://www.youtube.com/watch?v=lHBKIqxxc1Q&ab_channel=TalhaIqbal

I haven't made much successful headway in figuring out how it works and getting a result.

In [ ]:
import numpy as np

In [ ]:
def med_abs_dev(datapoints):
  med2 = np.median(datapoints)
  return np.median(np.abs(datapoints - med2))

In [ ]:
def hampel_method(raw_signal, win_size=3, sigma=3):
  copy_signal = np.copy(np.asarray(raw_signal))
  n = len(raw_signal)
  for i in range((win_size), (n - win_size)):
    dataslice = copy_signal[i - win_size : i + win_size]
    median_abs_dev = med_abs_dev(dataslice)
    med = np.median(dataslice)
    if copy_signal[i] > med + (sigma * median_abs_dev):
      copy_signal[i] = med
    return copy_signal

hampel_method(key_pars_array)

ValueError: ignored